body{
    background: url(Untitled.png)  ;
    background-size: cover;
   
}
#back-color
{

    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    
background-color: rgba(235, 235, 217,0.8);
padding: 10px;
}

#search-bar
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#text-input{
    outline: none;
   
    font-size: 17px;
    border-radius: 10px;
    border-top-right-radius: 0px;
border-bottom-right-radius:0px;
border:none;

}
#search-button{
    border-radius: 10px;
    outline: none;
margin-left: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius:0px;
}
#name
{
    margin-left:20px;
    font-size: 30px;
}
#mainfollow{
    display: flex;
    justify-content: space-around;
}
.follows
{
   width: 150px;
   font-size: 20px;
}
#bioo
{
    text-align: justify;
    font-size: 15px;
}